@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="title" content="Doppler Docker Playground" />
	<title>Doppler Docker Playground</title>
</head>
<body>
	<h1>Doppler Docker Playground</h1>
    <dl>
        <dt>MachineName</dt>
        <dd>@Model.MachineName</dd>
        <dt>GetHostName</dt>
        <dd>@Model.GetHostName</dd>
        <dt>ServerId</dt>
        <dd>@Model.ServerId</dd>
        <dt>ServerCounter</dt>
        <dd>@Model.ServerCounter</dd>
    </dl>
</body>
</html>
